.dish-name,
.picture,
.img-description,
h2
 {
    text-align: center;
}

.dish-name {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.img-description {
    font-style: italic;
}

img {
    height: auto;
    width: 300px;
}

h2 {
    background-color: rgb(248, 158, 173);
    color: white;
    font-family: "Lucida Handwriting", 'Times New Roman', Times, serif;
}